@import url('https://fonts.google.com/share?selection.family=Ysabeau:wght@500');

body {
    font-family: Ysabeau, serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 30px;
}

.header {
    display: flex;
    margin: 0;
    font-size: 50px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    border: 1px solid black;
    width: 650px;
    height: 650px;
}

.element {
    border: 1px solid rgb(172, 172, 172);
}

button {
    font-family: Ysabeau, serif;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 6px;
}